<!DOCTYPE html>
<html>
  
<head>
    <title>BattleTech GATOR Calculator</title>
    <p> MECHWARRIOR, BATTLEMECH, `MECH AND AEROTECH ARE REGISTERED TRADEMARKS OF THE THE TOPPS COMPANY, INC. ALL RIGHTS RESERVED. CATALYST GAME LABS AND THE CATALYST GAME LABS LOGO ARE TRADEMARKS OF INMEDIARES PRODUCTIONS, LLC. Thanks to Pkeegan for Gator Logic. </p>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
  <script>
    function showDiv(divId) {
      var divsToHide = document.getElementsByClassName("hidden_div");
      for(var i = 0; i < divsToHide.length; i++) {
        divsToHide[i].style.display = "none";
      }
      var divToShow = document.getElementById(divId);
      divToShow.style.display = "block";
    }
  </script>
</head>
<body>
    <div class="container">
        <div class="top">
            <div class="left">
    <form action="{{ url_for('index') }}" method="post">
    <h5>BattleTech Dice and Tables<h5>

    <div class="row">
  <button type="submit" name="button1" value="roll2d10">Roll 2D10 as 2D6</button>
  <button type="submit" name="button2" value="roll1d6">Roll 1D6</button> 
  <button type="submit" name="button3" value="roll2d6">Roll 2D6</button>  
  <button type="submit" name="button4" value="clear">Clear Results</button><br>
<label for="cluster-roll">Cluster Size:</label>
     <select name="cluster-roll">
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>          
            <option value="10">10</option>         
            <option value="11">11</option>         
            <option value="12">12</option>         
            <option value="13">13</option>         
            <option value="14">14</option>         
            <option value="15">15</option>         
            <option value="16">16</option>         
            <option value="17">17</option>  
            <option value="18">18</option>   
            <option value="19">19</option>  
            <option value="20">20</option>    
            <option value="21">21</option>   
            <option value="22">22</option>   
            <option value="23">23</option>    
            <option value="24">24</option>  
            <option value="25">25</option>   
            <option value="26">26</option>    
            <option value="27">27</option>   
            <option value="28">28</option> 
            <option value="29">29</option>  
            <option value="30">30</option>
            <option value="40">40</option>    
        </select>     
     <button type="submit" name="button5" value="cluster-roll">Roll-Cluster</button>
<br> <br>
   	    <button type="submit" name="button" value="RollforCrit">Roll For Crit</button>
          <button type="submit" name="button" value="randommove">Random Movement</button>
          <button type="submit" name="button" value="motive-check">Motive System Check</button>
          <button type="submit" name="button" value="basementroll">Roll Basement</button>
  <br> <br>  
 <form id="unit-form">  
  <div> Select unit type </div>   
  <input type="radio" id="option0" name="option" value="0" {% if session.get('selected_option') == '0' %}checked{% endif %} onchange="checked" >
  <label for="option">Select a Unit Type</label><br>
  <input type="radio" id="option1" name="option" value="1" {% if session.get('selected_option') == '1' %}checked{% endif %} onchange="showDiv('div1')">
  <label for="option1">Mech</label><br>
  <input type="radio" id="option2" name="option" value="2" {% if session.get('selected_option') == '2' %}checked{% endif %} onchange="showDiv('div2')">
  <label for="option2">Vtol</label><br>
  <input type="radio" id="option3" name="option" value="3" {% if session.get('selected_option') == '3' %}checked{% endif %} onchange="showDiv('div3')">
  <label for="option3">Vee</label><br>
  <input type="radio" id="option4" name="option" value="4" {% if session.get('selected_option') == '4' %}checked{% endif %} onchange="showDiv('div4')">
  <label for="option4">Aero</label><br>
  <input type="radio" id="option5" name="option" value="5" {% if session.get('selected_option') == '5' %}checked{% endif %} onchange="showDiv('div5')">
  <label for="option5">DropShip or Small Craft</label><br>
    <input type="radio" id="option6" name="option" value="6" {% if session.get('selected_option') == '6' %}checked{% endif %} onchange="showDiv('div6')">
  <label for="option6">Proto Mech</label><br>
    <input type="radio" id="option7" name="option" value="7" {% if session.get('selected_option') == '7' %}checked{% endif %} onchange="showDiv('div7')">
  <label for="option7">Special Proto Mech</label><br>
    <input type="radio" id="option8" name="option" value="8" {% if session.get('selected_option') == '8' %}checked{% endif %} onchange="showDiv('div8')">
  <label for="option8">Large Support Vehicle</label><br>
    <input type="radio" id="option9" name="option" value="9" {% if session.get('selected_option') == '9' %}checked{% endif %} onchange="showDiv('div9')">
  <label for="option9">Quad Mech</label><br>  
  <div id="div1" class="hidden_div"><br><br><button type="submit" name="button" value="mek-front-hit">Front</button>
    <button type="submit" name="button" value="mek-left-hit">Left</button>
    <button type="submit" name="button" value="mek-right-hit">Right</button><br><br><button type="submit" name="button" value="mech-kick">Mech kick Location</button><br><br><button type="submit" name="button" value="mek-front-punch">Front Side Punch</button>
    <button type="submit" name="button" value="mek-left-punch">Left Side Punch</button>
    <button type="submit" name="button" value="mek-right-punch">Right Side Punch</button><br><br><button type="submit" name="button" value="rollforfacing">Roll for Facing change</button></div>
  <div id="div2" class="hidden_div"><button type="submit" name="button" value="vt-fr-hit">Front</button>
          <button type="submit" name="button" value="vt-rear-hit">Rear</button>
          <button type="submit" name="button" value="vt-side-hit">Side</button><br><br>           <button type="submit" name="button" value="vt-fr-crit">Front Crit</button>
          <button type="submit" name="button" value="vt-side-crit">Side Crit</button>
          <button type="submit" name="button" value="vt-rear-crit">Rear Crit</button>
          <button type="submit" name="button" value="vt-rt-crit">Rotors Crit</button></div>
  <div id="div3" class="hidden_div"><button type="submit" name="button" value="gr-fr-hit">Front</button>
          <button type="submit" name="button" value="gr-rear-hit">Rear</button>
          <button type="submit" name="button" value="gr-side-hit">Side</button><br><br>           <button type="submit" name="button" value="gr-fr-crit">Front Crit</button>
          <button type="submit" name="button" value="gr-side-crit">Side Crit</button>
          <button type="submit" name="button" value="gr-rear-crit">Rear Crit</button>
          <button type="submit" name="button" value="gr-tr-crit">Turret Crit</button></div>
  <div id="div4" class="hidden_div"><button type="submit" name="button" value="aero-nse-hit">Nose </button>
          <button type="submit" name="button" value="aero-side-hit">Side</button>
          <button type="submit" name="button" value="aero-aft-hit">Rear</button>
          <button type="submit" name="button" value="aero-abol-hit">Above/Below</button></div>
  <div id="div5" class="hidden_div"><button type="submit" name="button" value="drop_small-nse-hit">Nose </button>
          <button type="submit" name="button" value="drop_small-side-hit">Side</button>
          <button type="submit" name="button" value="drop_small-aft-hit">Rear</button>
          <button type="submit" name="button" value="drop_small-abol-hit">Above/Below</button></div>
  <div id="div6" class="hidden_div"><button type="submit" name="button" value="prototable">Proto Hit table</button></div>
  <div id="div7" class="hidden_div"><button type="submit" name="button" value="specproto">Special Proto Table</button></div>
  <div id="div8" class="hidden_div"><button type="submit" name="button" value="lg-sup-front-hit">Front </button>
          <button type="submit" name="button" value="lg-sup-fside-hit">Front Side</button>
          <button type="submit" name="button" value="lg-sup-rear-hit">Rear</button>
          <button type="submit" name="button" value="lg-sup-rside-hit">Rear Side</button></div>
  <div id="div9" class="hidden_div"><br><br><button type="submit" name="button" value="quad-front-hit">Front/Rear Hit</button>
          <button type="submit" name="button" value="quad-left-hit">Left Side</button>
          <button type="submit" name="button" value="quad-right-hit">RightSide</button><br><br>
           <button type="submit" name="button" value="quad-front-punch">Front Quad Punch</button>
          <button type="submit" name="button" value="quad-left-punch">Left Quad Punch</button>
          <button type="submit" name="button" value="quad-right-punch">Right Quad Punch</button>
          <br><br><button type="submit" name="button" value="quad-front-kick">Front Quad Kick</button>
          <button type="submit" name="button" value="quad-left-kick">Left Quad Kick</button>
          <button type="submit" name="button" value="quad-right-kick">Right Quad Kick</button></div> 
</form> 
</div>
</div>
       <div class="right">
    <form action="{{ url_for('run_script') }}" method="post">
         <h5>BattleTech GATOR Calculator</h5>

<label for="gunnerySkill">Gunnery Skill:</label>
        <input type="number" name="gunnerySkill" value="4"><br>
 <label>Attacker's Movement:</label><br>
        <input type="radio" name="attackerMovement" value="0"> No Movement
        <input type="radio" name="attackerMovement" value="1" checked> Walk/Normal
        <input type="radio" name="attackerMovement" value="2"> Run/Flank
        <input type="radio" name="attackerMovement" value="3"> Jumped 
        <br><label for="targetMovement">Target's Movement(Hex Count):</label>
        <input type="number" name="targetMovement" value="5"><br>
        <label for="targetCondition">Target Condition:</label>
        <select name="targetCondition">
            <option value="standing" selected>Standing</option>
            <option value="prone_adjacent">Prone (Adjacent)</option>
            <option value="prone">Prone</option>
            <option value="immobile">Immobile</option>
        </select><br>
        <label for="otherModifiers">Other Modifiers:</label>
        <input type="number" name="otherModifiers" value="1"><br>
        <label for="range">Range:</label>
        <select name="range">
            <option value="short">Short</option>
            <option value="medium">Medium</option>
            <option value="long">Long</option>
        </select><br>
        <button type="submit" name="button" value="to-hit">Calculate To-Hit Number</button>
   </form> 
</div>
 </div>
<div class="bottom">
<div class="left">
<div class="row">                       
     <div class="text">
 <h3>Gator Results</h3>
           <pre>
GATOR results for the current attack:  {{ session['results_list'] }}
    </pre>      
     
 
<h3>Results</h3>

    <ol>          
  {% for result in results   %}
        <li> {{ result }}</li>
        {% endfor %}
</ol>       
</div>
</div>

</body>
</html>

<!-- <p> MECHWARRIOR, BATTLEMECH, `MECH AND AEROTECH ARE REGISTERED TRADEMARKS OF THE THE TOPPS COMPANY, INC. ALL RIGHTS RESERVED. CATALYST GAME LABS AND THE CATALYST GAME LABS LOGO ARE TRADEMARKS OF INMEDIARES PRODUCTIONS, LLC. Thanks to Pkeegan for Gator Logic. </p> -->
